.todo-list-item {
  height: 48px;
  background: #fff;
  border-radius: 8px;
  padding: 0 12px 0 0;
  display: flex;
}
.todo-list-item:hover {
  background: #e7e6e6;
}
.todo-list-item+.todo-list-item {
  margin-top:3px;
}
.todo-list-item .item-icon {
  height: 100%;
  display: flex;
  padding: 0 12px;
}
.todo-list-item .item-icon img {
  width: 24px;
  height: 24px;
  align-self: center;
}
.todo-list-item .item-content {
  flex: 1;
  border: 0;
  outline: none;
  font-size: 18px;
  line-height: 48px;
  color: #737373;
}
.todoFinished{
  text-decoration: line-through;
}