.todo-container {
  width: 600px;
  min-height: 400px;
  max-height: 100%;
  background: #798aca;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.todo-content {
  overflow: scroll;
  margin-top: 20px;
}
.todo-content::-webkit-scrollbar {
  display: none;
}
.todo-content > * {
  margin-bottom: 10px;
}
